/* you can make comments like this */

h1 { 
	color: red; 
	text-align: center; 
	text-decoration: underline;
} 


#anotherh1 { 
	color: blue; 
} 

#anotherh1:hover { 
	color: yellow; 
} 

#thisisadiv { 
	background-color: green;
	height: 100px; 
	width: 100px;
}

#purple { 
	background-color:purple; 
	height: 20px; 
	width: 20px;
} 

.blog { 
	width: 90%; 
	height: 90%; 
	border: 1px solid black; 
}

#baek { 
	width: 50%; 
	height: 50%; 
} 