body {
  font-family: Helvetica, sans-serif;
  color: white;
}
.app-container {
  max-width: 800px;
}

.app {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 10fr;
  grid-template-areas:
    "tbar tbar"
    "sbar mbar";
}

.titlebar {
  grid-area: tbar;
  background-color: palevioletred;
}

.sidebar {
  grid-area: sbar;
  background-color: lightpink;
}

.main {
  grid-area: mbar;
  background-color: pink;
  padding: 30px;
}

ul {
  text-decoration: none;
}

.home {
  max-width: 1000px;
  h1 {
    font-size: 40px;
  }
}

.nav {
  position: relative;
  top: 50px;

  a {
    color: white;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
  }
}
