// Theme CSS

$light-color: #d0dcf4;
$main-color: #b6cae9;
$medium-color: #98a5c7;
$dark-color: #727d9a;
$font-name: "IBM Plex Mono", sans-serif;
$font-color: white;

$sidebar-fontsize: 16px;
$caps-fontsize: 14px;

$page-title-fontsize: 26px;
$page-header-fontsize: 16px;
$page-content-fontsize: 14px;

$player-title: 24px;
$player-header: 14px;
$player-content: 12px;

.player-title {
  font-size: $player-title;
  margin: 0px;
}

.player-description {
  font-size: $player-header;
  font-weight: 400;
}

.player-content {
  font-size: $player-content;
}

.caps-heading {
  text-transform: uppercase;
  font-size: $caps-fontsize;
  font-weight: lighter;
}

body {
  font-family: $font-name;
  color: $font-color;
  background-color: pink;
  a {
    color: $font-color;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  ul {
    list-style-type: none;
    margin: 0px;
  }
}

// React CSS

.app-container {
  max-width: 800px;
  .app {
    width: 800px;
    height: 640px;
    display: grid;
    grid-template-columns: 180px auto 80px;
    grid-template-rows: 30px auto 70px;
    grid-template-areas:
      "tbar-left tbar-right win-acts"
      "sbar mbar mbar"
      "play play play";
  }
}

.titlebar-left {
  grid-area: tbar-left;
  background-color: $light-color;
}

.titlebar-right {
  grid-area: tbar-right;
  background-color: $main-color;
}

.window-actions {
  grid-area: win-acts;
  background-color: $medium-color;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.sidebar {
  grid-area: sbar;
  background-color: $light-color;
  ul {
    line-height: 160%;
  }
  .top-sidebar {
    width: 180px;
    height: 30px;
  }
  .sidebar-element {
    position: relative;
    width: 150px;
    left: 30px;
    top: 30px;
    margin-bottom: 50px;
    ul {
      position: relative;
      right: 40px;
      font-size: $sidebar-fontsize;
      font-weight: 600;
    }
    h3 {
      position: relative;
      top: 10px;
    }
  }
}

.main {
  grid-area: mbar;
  background-color: $main-color;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 30px 90px 50px 50px;

  .top-main {
    width: 620px;
    height: 30px;
    position: relative;
    right: 50px;
    bottom: 30px;
  }
}

.home {
  .name {
    height: 150px;
    position: relative;
    bottom: 97px;
    left: 30px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: -60px;
    h1 {
      display: inline;
      margin-left: 20px;
      margin: 0px;
      font-size: 72px;
    }
  }
  h2 {
    font-size: $page-header-fontsize;
  }
  h4 {
    margin-top: 5px;
  }
  p {
    font-size: $page-content-fontsize;
  }
  img {
    width: 150px;
  }
}

.list-display {
  .list-display-track {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    justify-content: space-between;

    .track-title {
      width: 100px;
    }
    .track-artist {
      width: 100px;
    }
    .track-album {
      width: 100px;
    }
    .track-date {
      width: 72px;
    }
    .track-time {
      width: 29px;
    }
  }
}

.playlist-header {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  .playlist-image {
    width: 150px;
    height: 150px;
  }
  .playlist-info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .playlist-length {
      margin-top: 10px;
    }
  }
}

.collection-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .collection-item {
    width: 150px;
    height: 150px;
  }
  .collection-item:hover {
    opacity: 0.6;
  }
  .collection-item-desc {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.player {
  grid-area: play;
  background-color: $medium-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background: $dark-color;
  outline: 1px solid $medium-color;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
