// Theme CSS

$light-color: #d0dcf4;
$main-color: #b6cae9;
$main-highlight-color: #bdcfeb;
$medium-color: #98a5c7;
$dark-color: #727d9a;
$font-name: "IBM Plex Mono", sans-serif;
$font-color: white;

$toolbar-border-color: #b0b0b0;
$toolbar-color: #9f9f9f;
$desktop-color: #d5d5d5;
$app-window-color: #bdbdbd;

$sidebar-fontsize: 16px;
$caps-fontsize: 14px;

$page-title-fontsize: 26px;
$page-header-fontsize: 16px;
$page-content-fontsize: 14px;

$player-title: 24px;
$player-header: 14px;
$player-content: 12px;

.player-title {
  font-size: $player-title;
  margin: 0px;
}

.player-description {
  font-size: $player-header;
  font-weight: 400;
}

.player-content {
  font-size: $player-content;
}

.caps-heading {
  text-transform: uppercase;
  font-size: $caps-fontsize;
  font-weight: lighter;
}

body {
  font-family: $font-name;
  color: $font-color;
  background-color: $desktop-color;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  a {
    color: $font-color;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

// React CSS

.app-container {
  max-width: 800px;
  .app {
    width: 800px;
    height: 640px;
    display: grid;
    grid-template-columns: 180px auto 80px;
    grid-template-rows: 30px auto 70px;
    grid-template-areas:
      "tbar-left tbar-right win-acts"
      "sbar mbar mbar"
      "play play play";
  }
}

.login {
  border-color: $toolbar-border-color;
  background-color: $app-window-color;
  border-style: inset;
  white-space: nowrap;
  width: auto;
  padding: 30px;
  position: absolute;
  left: calc(100% / 2.5);
  .login-buttons {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    gap: 15px;
  }
}

.bg {
  width: 100%;
  height: 100%;
  .bg-desktop {
    background-color: $desktop-color;
    height: calc(100vh - 35px);
  }
  .bg-toolbar {
    background-color: $toolbar-color;
    height: 35px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: -1;
    display: flex;
    flex-direction: row;
    .bg-toolbar-block-inset {
      @extend %bg-toolbar-block;
      border-style: inset;
    }
    .bg-toolbar-block-outset {
      @extend %bg-toolbar-block;
      border-style: outset;
    }
  }
}

%bg-toolbar-block {
  border-color: $toolbar-border-color;
  white-space: nowrap;
  width: auto;
  padding: 0 10px 0 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  height: 80%;
}

.desktop-icon {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.titlebar-left {
  grid-area: tbar-left;
  background-color: $light-color;
}

.titlebar-right {
  grid-area: tbar-right;
  background-color: $main-color;
}

.window-actions {
  grid-area: win-acts;
  background-color: $medium-color;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  .window-minimize:hover,
  .window-close:hover {
    opacity: 0.3;
  }
}

.sidebar {
  grid-area: sbar;
  background-color: $light-color;
  ul {
    line-height: 160%;
    list-style-type: none;
    margin: 0px;
  }
  .top-sidebar {
    width: 180px;
    height: 30px;
  }
  .sidebar-element {
    position: relative;
    width: 150px;
    left: 30px;
    top: 30px;
    margin-bottom: 50px;
    ul {
      position: relative;
      right: 40px;
      font-size: $sidebar-fontsize;
      font-weight: 600;
    }
    h3 {
      position: relative;
      top: 10px;
    }
  }
}

.main {
  grid-area: mbar;
  background-color: $main-color;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 30px 90px 50px 50px;

  .top-main {
    width: 620px;
    height: 30px;
    position: relative;
    right: 50px;
    bottom: 30px;
  }
}

.home {
  .name {
    height: 150px;
    position: relative;
    bottom: 97px;
    left: 30px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: -60px;
    h1 {
      display: inline;
      margin-left: 20px;
      margin: 0px;
      font-size: 72px;
    }
  }
  h2 {
    font-size: $page-header-fontsize;
  }
  h4 {
    margin-top: 5px;
  }
  a,
  p {
    font-size: $page-content-fontsize;
  }
  img {
    width: 150px;
  }
  a {
    display: block;
  }
}

.paciolan,
.healthwise {
  h1 {
    font-size: $page-title-fontsize;
  }
  p {
    font-size: $page-content-fontsize;
  }
  li {
    padding-bottom: 10px;
  }
}

.list-display {
  .list-display-track {
    display: flex;
    flex-direction: row;
    position: relative;
    padding-bottom: 20px;
    left: -30px;
    justify-content: space-between;
    .track-title {
      width: 100px;
    }
    .track-artist {
      width: 100px;
    }
    .track-album {
      width: 100px;
    }
    .track-date {
      width: 72px;
    }
    .track-time {
      width: 30px;
    }
    .list-display-play {
      left: 0;
      top: 0;
      opacity: 0;
    }
  }
  .list-display-track:not(:first-child):hover .list-display-play {
    opacity: 1;
  }
  .list-display-track:not(:first-child):hover {
    background-color: $main-highlight-color;
  }
}

.playlist-header {
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
  .playlist-item {
    position: relative;
    .playlist-play {
      position: absolute;
      left: 60px;
      top: 60px;
      display: none;
    }
    .playlist-image {
      width: 150px;
      height: 150px;
    }
  }
  // .playlist-item:hover .playlist-play {
  //   display: block;
  // }
  // .playlist-item:hover {
  //   opacity: 0.6;
  // }
  .playlist-info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .playlist-length {
      margin-top: 10px;
    }
  }
}

.collection-display-title {
  padding-bottom: 10px;
}
.collection-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .collection-item {
    position: relative;
    .collection-play {
      position: absolute;
      left: 60px;
      top: 60px;
      display: none;
    }
    .collection-image {
      width: 150px;
      height: 150px;
    }
  }
  // .collection-item:hover {
  //   opacity: 0.6;
  // }
  // .collection-item:hover .collection-play {
  //   display: block;
  // }
  .collection-item-desc {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
    .collection-item-title {
      font-weight: 600;
      padding-bottom: 5px;
    }
  }
}

.player {
  grid-area: play;
  background-color: $medium-color;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 110px;
  .player-description {
    display: grid;
    width: 210px;
    grid-template-columns: 45px 120px 24px;
    grid-template-areas:
      "song-cover song-title song-fav"
      "song-cover song-artist .";
    column-gap: 10px;
    .player-image {
      grid-area: song-cover;
      width: 45px;
      height: 45px;
    }
    .player-song {
      grid-area: song-title;
    }
    .player-artist {
      grid-area: song-artist;
    }
    .player-favorite {
      grid-area: song-fav;
      font-size: 14px;
      padding-top: 2px;
    }
  }
  .player-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    position: relative;
    right: 20px;
    .player-controls-icons:hover {
      opacity: 0.3;
    }
  }
  .player-volume-controls {
    .player-volume {
      position: relative;
      bottom: 5px;
      right: 15px;
    }
    .player-slider {
      width: 80px;
      color: white;
    }
  }
}

.scroll-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

::-webkit-scrollbar {
  width: 10px;
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background: $dark-color;
  outline: 1px solid $medium-color;
}

.material-icons.md-14,
.material-icons-outlined.md-14 {
  font-size: 14px;
}
.material-icons.md-18,
.material-icons-outlined.md-18 {
  font-size: 18px;
}
.material-icons.md-24,
.material-icons-outlined.md-24 {
  font-size: 24px;
}
.material-icons.md-36,
.material-icons-outlined.md-36 {
  font-size: 36px;
}
.material-icons.md-48,
.material-icons-outlined.md-48 {
  font-size: 48px;
}
